{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}
    
    <body class="bgimg-5">

        <!-- Page Wrapper -->
        <div class="w3-content" style="margin-top: 68px; margin-bottom: 38px;">

            <!-- Grid -->
            <div class="w3-container w3-margin w3-padding">
                <h1 class="w3-xxlarge w3-center w3-margin-bottom w3-text-white">Sales/Marketing</h1>
                <div class="w3-content w3-card-2 w3-white" style="max-width: 425px; margin-bottom: 120px; margin-top: 60px;">
                    <h3 class="w3-center" style="padding: 12px 0 6px 0;">Sales and Onboarding Hot Tips</h3>
                    <script id="asp-embed-script" data-zindex="1000000" type="text/javascript" charset="utf-8" src="https://spark.adobe.com/page-embed.js"></script><a class="asp-embed-link" href="https://spark.adobe.com/page/WnfdBul3GCPvk/" target="_blank"><img src="https://spark.adobe.com/page/WnfdBul3GCPvk/embed.jpg?buster=1496084047405" alt="Sales and Onboarding Hot Tips" style="width:100%;" border="0" /></a>
                    <div class="w3-container">
                        <p>This data-driven tips sheet touches on best demonstrated sales practices using approachable, yet appropriate, illustrations.
                        The illustrations were created using the Bitstrips and Bitmoji applications, and the page was created
                        using Adobe Spark Page.</p> 
                    </div>
                </div>
            </div>
                

            <!-- End grid -->

        </div>
        <!-- End page wrapper -->
    
        {% include 'partials/footer_inner.html' %}
        
    </body>
    
{% endblock pagecontent %}