<div class="w3-top" id="navWrapper">
    <div class="w3-bar w3-white w3-card-2 w3-animate-top" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right menuToggle" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#home" data-menuanchor="home" class="w3-bar-item w3-hover-black w3-button"><b>VANESSA SCHILL</b></a>
        <a href="#blog" data-menuanchor="blog" class="w3-bar-item w3-hover-black w3-button w3-hide-small"><i class="fa fa-pencil"></i> BLOG</a>
        <a href="#portfolio" data-menuanchor="portfolio" class="w3-bar-item w3-hover-black w3-button w3-hide-small"><i class="fa fa-folder-open"></i> PORTFOLIO</a>
        <a href="#bio" data-menuanchor="bio" class="w3-bar-item w3-hover-black w3-button w3-hide-small"><i class="fa fa-user"></i> BIO</a>
        <a href="#proficiencies" data-menuanchor="proficiencies" class="w3-bar-item w3-hover-black w3-button w3-hide-small"><i class="fa fa-check"></i> PROFICIENCIES</a>
        <a href="#contact" data-menuanchor="contact" class="w3-bar-item w3-hover-black w3-button w3-hide-small"><i class="fa fa-bullhorn"></i> CONTACT</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="mobileNav" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
        <a href="#blog" data-menuanchor="blog" class="w3-bar-item w3-button menuToggle">BLOG</a>
        <a href="#portfolio" data-menuanchor="portfolio" class="w3-bar-item w3-button menuToggle">PORTFOLIO</a>
        <a href="#bio" data-menuanchor="bio" class="w3-bar-item w3-button menuToggle">BIO</a>
        <a href="#proficiencies" data-menuanchor="proficiencies" class="w3-bar-item w3-button menuToggle">PROFICIENCIES</a>
        <a href="#contact" data-menuanchor="contact" class="w3-bar-item w3-button menuToggle">CONTACT</a>
    </div>
</div>